* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem;
  max-width: 35rem;
  margin: 0 auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: black;
}

/* need to find out what this is */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
